@{
    Layout = null;
}
<div class="col-lg-9 p-0">
    <div class="navbar-light rounded m-3" style="background-color:#f0e8d1">
        <div class="row row mx-md-n1">
            <div class="col-lg-3 p-m-1">
                <div class="navbar-light img-rounded" style="background-color:black">
                    <h2>Book1</h2>
                </div>
            </div>
            <div class="col-lg-3 p-m-1">
                <div class="navbar-light img-rounded" style="background-color:black">
                    <h2>Book2</h2>
                </div>
            </div>
            <div class="col-lg-3 p-m-1">
                <div class="navbar-light img-rounded" style="background-color:black">
                    <h2>Book3</h2>
                </div>
            </div>
            <div class="col-lg-3 p-m-1">
                <div class="navbar-light img-rounded" style="background-color:black">
                    <h2>Book4</h2>
                </div>
            </div>
        </div>
    </div>
</div>