@using DigitalLibrary.Common
@{
    Layout = "~/View/Layout/_Layout.cshtml";
    var Ganere = Request["Genere"];
    var BookModel = DependencyResolver.BookModelLogic;
    Page.Title = "Home";
}

<div class="col-9 p-0 ">
    <div class="navbar-light rounded m-3" style="background-color:#333336">
        <div class="row row mx-md-n1">
            <form action="~/View/Home/BookModel.cshtml" method="post">
                <div class="card-deck">
                    @foreach (var book in BookModel.GetAll().Where(item => item.Genre == Ganere))
                    {
                        <div class="col mb-4">
                            <div class="card shadow p-3 m-3" style="width: 12rem; background-color:#333336">
                                <img src="data:image;base64,@System.Convert.ToBase64String(book.Image)" class="card-img-top">
                                <div class="card-body p-1">
                                    <button style="color:#ffffff" class="btn text-break card-link font-italic p-1" name="bookId" formaction="~/View/Home/BookModel.cshtml" onclick="window.location.href = 'BookModel.cshtml';" value="@book.Id">@book.Title</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>