@using DigitalLibrary.Common;
@using DigitalLibrary.Entities;
@using DigitalLibrary.PL.Models;
@{
    Layout = "~/View/Layout/_Layout.cshtml";
    Page.Title = "Editing User";
    var userId = int.Parse(Request["userId"]);
    var login = Request["inputLogin"];
    var password = Request["inputPassword"];
    var name = Request["inputName"];
    var fimyliName = Request["inputFimyliName"];
    var userLogic = DependencyResolver.UserLogic;

    if (IsPost)
    {

        var CheckFile = Request.Files[0].FileName;
        byte[] imagBytes = { };
        if (CheckFile != "")
        {
            var file = Request.Files[0];

            using (BinaryReader br = new BinaryReader(file.InputStream))
            {
                imagBytes = br.ReadBytes(file.ContentLength);
            }
        }

        userLogic.EditUser(userId,new User()
        {
            Login = login,
            Password = password,
            Name = name,
            FamilyName = fimyliName,
            Image = imagBytes,
            Role = new string[] { "User" }
        });

        Response.Redirect("~/View/Home/Index.cshtml");
    }

}
<div class="col-9 p-0">
    <div class="nav justify-content-center">
        <form class="p-0 rounded m-3" style="background-color:#333336" enctype="multipart/form-data" action="~/View/Account/EditingUser.cshtml" method="post">
            <div class="form-group row m-3">
                <label for="inputRegistration" class="col-10 col-form-label" style="color:#ffffff">Редактирование профиля</label>
            </div>
            <hr style="border-color:#ffffff" />
            <div class="form-group row m-3">
                <label for="inputLogin3" class="col-sm-2 col-form-label" style="color:#ffffff">Login</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="inputLogin">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label" style="color:#ffffff">Password</label>
                <div class="col-12">
                    <input type="password" class="form-control" name="inputPassword">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="inputLogin3" class="col-sm-2 col-form-label" style="color:#ffffff">Name</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="inputName">
                </div>
            </div>
            <div class="form-group row m-3">
                <label for="inputLogin3" class="col-sm-4 col-form-label" style="color:#ffffff">Fimyli Name</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="inputFimyliName">
                </div>
            </div>
            <div class="form-group row m-3">
                <label class="col col-form-label" style="color:#ffffff">Image</label>
                <div class="col-12">
                    <input type="file" class="form-control-file" style="color:#ffffff" id="image" name="image" multiple accept="image/png">
                </div>
            </div>
            <div class="form-group row m-3">
                <div class="col-12">
                    <button class="form-control">Изменить</button>
                </div>
            </div>
        </form>
    </div>
</div>