@using DigitalLibrary.Common;
@using DigitalLibrary.PL.Models;
@{
    Layout = "~/View/Layout/_Layout.cshtml";
    Page.Title = "SignIn";

    var login = Request["inputLogin"];
    var password = Request["inputPassword"];

    if (IsPost)
    {
        if (DependencyResolver.UserLogic.CheckUser(login, password))
        {
            FormsAuthentication.SetAuthCookie(login, createPersistentCookie: true);

            Response.Redirect("~/View/Home/Index.cshtml");
        }
        else
        {
            //errorMessage = "Wrong login or password";
        }
    }

}
<div class="col-9 p-0">
    <div class="nav justify-content-center">
        <form class="p-0 rounded m-3" style="background-color:#333336" action="~/View/Account/SignIn.cshtml" method="post">
            <div class="form-group row m-3">
                <label for="inputАuthorization" class="col-10 col-form-label" style="color:#ffffff">Авторизация</label>
                <img src="~/image/SignIn.png" width="35" height="35" class="d-inline-block align-top float-right">
            </div>
            <hr style="border-color:#ffffff" />
            <div class="form-group row m-4">
                <label for="inputLogin" class="col-sm-2 col-form-label" style="color:#ffffff">Login</label>
                <div class="col-12">
                    <input type="text" class="form-control" name="inputLogin" required>
                </div>
            </div>
            <div class="form-group row m-4">
                <label for="inputPassword" class="col-sm-2 col-form-label" style="color:#ffffff">Password</label>
                <div class="col-12">
                    <input type="password" class="form-control" name="inputPassword" required>
                </div>
            </div>
            <div class="form-group row m-4">
                <div class="col-12">
                    <button class="form-control">Вход</button>
                </div>
            </div>
            <div class="form-group row m-4">
                <div class="col-12">
                    <input type="button" class="form-control" id="buttonSignUp" value="Регистрация" onclick="window.location.href = 'SignUp.cshtml';">
                </div>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/site.css" />
